
  <!-- /HOME -->

  <!-- PORTFOLIO -->
  <section class="module-small p-t-20 p-b-60">

    <div class="container">

    </div>

    <div class="boxed">
      <%= image_tag "banner.jpg", height:50, width:5000 %>
    </div>
    <br><br><br>
    <!-- PORTFOLIO LIST -->
    <ul id="works-grid" class="works-grid works-grid-gut works-grid-3 works-hover-g">

      <!-- PORTFOLIO ITEM -->
      <li class="work-item illustration webdesign">
        <a href="scoreboard">
          <div class="work-image">
            <%= image_tag "wash-mar.jpeg", alt: "" %>
          </div>
          <div class="work-caption">
            <h3 class="work-title font-alt">Nationals vs Marlins </h3>
            <div class="work-descr font-inc">
            </div>
          </div>
        </a>
      </li>
      <!-- /PORTFOLIO ITEM -->

      <!-- PORTFOLIO ITEM -->
      <li class="work-item marketing photography">
        <a href="portfolio-single-1.html">
          <div class="work-image">
            <%= image_tag "rock-diams.png", alt: "" %>
          </div>
          <div class="work-caption">
            <h3 class="work-title font-alt">Diamonbacks Vs Rockies</h3>
            <div class="work-descr font-inc">

            </div>
          </div>
        </a>
      </li>
      <!-- /PORTFOLIO ITEM -->

      <!-- PORTFOLIO ITEM -->
      <li class="work-item illustration photography">
        <a href="scoreboard">
          <div class="work-image">
            <%= image_tag "giants-padres.jpg", alt: "" %>
          </div>
          <div class="work-caption">
            <h3 class="work-title font-alt">Giants Vs Padres </h3>
            <div class="work-descr font-inc">
            </div>
          </div>
        </a>
      </li>
      <!-- /PORTFOLIO ITEM -->

      <!-- PORTFOLIO ITEM -->
      <li class="work-item marketing photography">
        <a href="portfolio-single-1.html">
          <div class="work-image">
            <%= image_tag "sox-rays.jpg", alt: "" %>
          </div>
          <div class="work-caption">
            <h3 class="work-title font-alt">RedSox Vs Rays</h3>
            <div class="work-descr font-inc">
            </div>
          </div>
        </a>
      </li>
      <!-- /PORTFOLIO ITEM -->

      <!-- PORTFOLIO ITEM -->
      <li class="work-item illustration webdesign">
        <a href="portfolio-single-1.html">
          <div class="work-image">
            <%= image_tag "cin-pir.jpg", alt: "" %>
          </div>
          <div class="work-caption">
            <h3 class="work-title font-alt">Pirates Vs Reds</h3>
            <div class="work-descr font-inc">
            </div>
          </div>
        </a>
      </li>
      <!-- /PORTFOLIO ITEM -->

      <!-- PORTFOLIO ITEM -->
      <li class="work-item marketing webdesign">
        <a href="portfolio-single-1.html">
          <div class="work-image">
            <%= image_tag "yank-tor.jpg", alt: "" %>
          </div>
          <div class="work-caption">
            <h3 class="work-title font-alt">Rangers vs BlueJays</h3>
            <div class="work-descr font-inc">
            </div>
          </div>
        </a>
      </li>
      <!-- /PORTFOLIO ITEM -->

      <!-- PORTFOLIO ITEM -->
      <li class="work-item marketing webdesign">
        <a href="portfolio-single-1.html">
          <div class="work-image">
            <%= image_tag "rangers-sox.jpg", alt: "" %>
          </div>
          <div class="work-caption">
            <h3 class="work-title font-alt">Sox vs Tigers</h3>
            <div class="work-descr font-inc">
            </div>
          </div>
        </a>
      </li>
      <!-- /PORTFOLIO ITEM -->

      <!-- PORTFOLIO ITEM -->
      <li class="work-item marketing webdesign">
        <a href="portfolio-single-1.html">
          <div class="work-image">
            <%= image_tag "rangers-astros.jpg", alt: "" %>
          </div>
          <div class="work-caption">
            <h3 class="work-title font-alt">Astros vs Rangers</h3>
            <div class="work-descr font-inc">
            </div>
          </div>
        </a>
      </li>
      <!-- /PORTFOLIO ITEM -->

      <!-- PORTFOLIO ITEM -->
      <li class="work-item marketing webdesign">
        <a href="portfolio-single-1.html">
          <div class="work-image">
            <%= image_tag "ang-mariners.jpg", alt: "" %>
          </div>
          <div class="work-caption">
            <h3 class="work-title font-alt">Mariners vs Angels </h3>
            <div class="work-descr font-inc">
              Marketing
            </div>
          </div>
        </a>
      </li>
      <!-- /PORTFOLIO ITEM -->

    </ul>
    <!-- /PORTFOLIO LIST -->

  </section>
  <!-- /PORTFOLIO -->

  <!-- PAGINATION -->
  <section class="module-small p-t-0">

    <div class="container">

      <div class="pagination font-inc text-uppercase">

        <a href="#"><i class="fa fa-angle-left"></i> Prev</a>
        <a href="#">Next <i class="fa fa-angle-right"></i></a>

      </div>

    </div>

  </section>
  <!-- /PAGINATION -->

  <!-- DIVIDER -->
  <hr class="divider-w">
  <!-- /DIVIDER -->
